.brand {
    font-family: var(--title);
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
}

.brand__text {
    display: inline-block;
}

.brand__text__en {
    color: inherit;
    mix-blend-mode: luminosity;
    position: relative;
    z-index: 1;
    filter: invert();
}

.brand__text__play {
    color: var(--t-shade1);
}

.brand__text::before {
    position: absolute;
    content: '';
    top: 0;
    left: -12px;
    z-index: 1;
    background-color: var(--primary-clr);
    border-radius: 30px 10px 10px;
    width: 45px;
    height: 45px;
}

.brand__version {
    opacity: 0.7;
    font-family: var(--inter);
    font-size: 1rem;
}