.brandLink {
    text-decoration: none;
    color: black;
}

.brand {
    font-family: var(--title);
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
}

.brand__text {
    display: inline-block;
}

.brand__text__play {
    color: var(--t-shade1);
}

.brand__logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

.brand__version {
    opacity: 0.7;
    font-family: var(--inter);
    font-size: 1rem;
}