.primButton {
    background-color: var(--primary-clr);
    color: white;
    font-family: var(--heads);
    padding: 8px 12px;
    border-radius: 6px;
    width: 150px;
    font-size: 0.8rem;
}

.primButton__text {
    color: inherit;
    font-family: inherit;
}