.convertersLogo {
    width: 100px;
    object-fit: contain;
    background: none;
    height: auto;
    display: inline-block;
    filter: grayscale(100%) contrast(30%) opacity(0.8);
}

.convertersList {
    padding: 0;
    margin: 0;
}